<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
  <test verbose="2" name="Default test">
    <classes>
      <class name="test.rectangle.RectangleExclusionTest"/>
      <class name="test.rectangle.FactoryTest"></class>
      <class name="test.quadrate.QuadrateTest"/>
      <class name="test.rectangle.RectangleTest"/>
      <class name="test.circle.CircleTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite.-->
